/* Убираем отступы и задаем общие настройки */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(72, 72, 250, 0.1);
}

/* Глобальные настройки для Flexbox */
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Основные стили для body */
body {
  display: flex;
  flex-direction: column; /* Позволяет содержимому располагаться вертикально */
  align-items: center;
  justify-content: flex-start; /* Начало страницы */
  overflow-y: auto; /* Добавляем вертикальный скроллинг */
  height: 100%;
  min-height: 100vh;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  background-color: #000000;
}

/* Стили для фонового видео */
.bgvideo {
  position: fixed; /* Видео всегда остается фоном */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Видео ниже всех элементов */
}

.bgvideo::-webkit-media-controls {
  display: none; /* Убираем контролы */
}

/* Стили ссылок */
a {
  color: #ffffff;
  text-decoration: none;
}

/* Стили изображений */
img {
  pointer-events: none;
  max-width: 100%; /* Уменьшение изображений */
  height: auto;
}

/* Кнопка "Назад" */
.back-button {
  width: 4vmax; /* Уменьшен размер */
  aspect-ratio: 1;
  max-width: 40px; /* Максимальная ширина уменьшена */
  position: absolute;
  top: 8px; /* Уменьшен отступ */
  left: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/icons/arrow_back_white.png");
  cursor: pointer;
}

/* Стили кнопок при нажатии */
button:active {
  transform: scale(1.05); /* Уменьшена интенсивность */
}

/* Стили текста */
h1, h2, h3, p {
  font-size: 90%; /* Общая уменьшенная масштабность шрифтов */
}

/* Подключение шрифтов */
@font-face {
  font-family: 'Zantiqa';
  src: url('../assets/fonts/Zantiqa4F.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Large';
  src: url('../assets/fonts/Large.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Дополнительные элементы */
.container {
  max-width: 960px; /* Уменьшенная ширина */
  padding: 15px;
}

.help-button {
  font-size: 0.8rem; /* Уменьшен шрифт кнопки */
  padding: 8px 16px; /* Уменьшены внутренние отступы */
}

.game-logo-square {
  width: 120px; /* Уменьшена ширина */
  height: 120px;
  border-radius: 8px; /* Уменьшен радиус */
}

.game-name {
  font-size: 0.9rem; /* Уменьшен размер шрифта */
  text-align: center;
}
